<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="aprs_lab_robots">

  <link name="world"/>

  <link name="aprs_ur_base_link"/>

  <joint name = "ur_world_to_base" type = "fixed">
    <origin rpy = "0 0 0" xyz = "0.7864625 -1.375 0.8001"/>
    <parent link = "world"/>
    <child link = "aprs_ur_base_link"/>
  </joint>

  <xacro:include filename="$(find aprs_description)/urdf/ur/aprs_ur_macro.xacro"/>
    <!-- ROS2 Control Plugin -->
  <xacro:arg name="ur_controller" default="$(find aprs_description)/config/robot_controllers.yaml" />
  <!-- <xacro:arg name="controllers" default="$(find aprs_description)/config/ns_robot_controllers.yaml" /> -->

  <xacro:aprs_ur
    parent="aprs_ur_base_link">
  </xacro:aprs_ur>

  <gazebo>
    <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <!-- <ros>
        <namespace>ur</namespace>
      </ros> -->
      <parameters>$(arg ur_controller)</parameters>
      <controller_manager_name>ur_controller_manager</controller_manager_name>
      <robot_param>/ur/robot_description</robot_param>
      <robot_param_node>/ur/robot_state_publisher</robot_param_node>
    </plugin>
  </gazebo>

</robot>
